body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 2em;
  line-height: 2em;
  padding-top: 100px;
  background-image: url("../img/background.png");
  background-repeat: repeat;
}

@font-face {
  font-family: Roboto;
  src: url('../font/roboto/Roboto-Regular.woff');

}

@font-face {
	font-family: LemonMilk;
	src: url('../font/LemonMilk.otf');
}

.btn-custom {
  font-size: 100px;
  width: 200px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: LemonMilk, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 15px;
  border-color: #085dad;
  border-width: thick;
  color: #fff;
  background-color: #085dad;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-custom:hover {
  color: #085dad;
  background-color: #fff;
  font: 20px;
  border-radius: 25px;
  color: #116798;
}

.btn-custom:active{
  color: #000;
}

.btn-custom:focus,.btn-custom:active {
   outline: none !important;
}

.navbar-custom {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: LemonMilk;
  background: #fff;
  text-align: center;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .navbar-header {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1px;
}

.navbar-toggle {
  font-size: 10px;

}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
@media only screen and (min-width: 800px) {
  .navbar-custom {
    background: #fff;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: black;
    padding: 12px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: black;
  }
  .navbar-custom .nav li a {
    background: #fff;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    background: #fff;
  }
}

.navbar-toggle collapse {
   background-color: #000;
   overflow: auto;
}

footer {
  background-color: #fff;
  color: black;
  padding: 20px;
  width: 100%;
  text-align:center;
}

#landing {
    margin: auto;
    margin-top:-10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    color: #8cc739;
}

.container {
  text-align: center;
  margin:auto;
  width: 80%;
}

#about, #FAQ, #schedule, #judges, #sponsor {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  background:none;
  overflow:visible;
}

#about, #judges, #FAQ {
    color: #000;
}

#schedule {
    color: #fff;
}

#menu li a {
   color: #000;
}

#navigation li.hello a {
   color: #000;
}

h1 {
  font-family: LemonMilk;
  color: #6a7170;
  letter-spacing: 2px;
}

h2 {
  font-family: LemonMilk;
  color: #000;
  font-size: 50px;
  letter-spacing: 10px;
  word-wrap:break-word;
}

.cc-icon {
  margin-left: 0.4%;
  margin-right: 0.4%;
  margin-top: 0.2%;
  margin-bottom: 1%;
}

#left {
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  position: relative;
  float: left;
  display: inline-block;
  width: 50%;
}

#right {
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  width: 50%;
  position: relative;
  float: right;
  display: inline-block;
}

td {
  width: 30%;
  top:0;
  height: 200px;
}

#map {
  height: 400px;
  width: 100%;
 }
