body {
   font-size: 2em;
   padding-top: 100px;
   background-image: url("../img/background.png");
   background-repeat: repeat;
}

@font-face {
	font-family: LemonMilk;
	src: url('../font/LemonMilk.otf');
}

.navbar-custom {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: LemonMilk, Arial, sans-serif;
  background: #fff;
  text-align: center;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: #fff;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: black;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: black;
  }
  .navbar-custom .nav li a {
    background: #fff;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    background: #fff;
  }
}

#landing {
    margin: auto;
    width: 100%;
    height: 100vh;
    text-align: center;
}

#about {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    background:none;
    color: #fff;
}

#schedule {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
    background-color: #116798;
}

#menu li a {
   color: #000;
}

#navigation li.hello a {
   color: #000;
}

.navbar-toggle collapse {
   background-color: #000;
   overflow: auto;
}

h1 {
  font-family: LemonMilk;
  color: #21bede;
  letter-spacing: 2px;
}

h2 {
  font-family: LemonMilk;
  color: #fff;
  letter-spacing: 3px;
}
